@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');



html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    65deg,
    hsl(173deg 71% 77%) 0%,
    hsl(214deg 55% 87%) 15%,
    hsl(257deg 69% 80%) 44%,
    hsl(326deg 92% 69%) 82%,
    hsl(36deg 79% 65%) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input {
  padding: 15px;
  border-radius: 5px;
  margin: 1px;

}

h2 {
  font-family: 'Bungee';
  color:maroon;
}

.increase {
  
  background-color:darkmagenta;
  color: white;

}

.decrease {
  background-color: goldenrod;
   color: white;

}

.reveal-btn {
  background-color:darkslateblue;
  color: white;
}

.quest-btn {
  background-color:darkcyan;
  color: white;
}

.reveal {
  display:none;
}

.main-container {
  margin-top: 15%;
}

.title {
  font-size: 3vw;
  font-family: 'Bungee';
  color: black;
}